.logoFilter {
  -webkit-filter: none;
          filter: none;
}

.grey {
  -webkit-filter: grayscale(1) opacity(0.3);
          filter: grayscale(1) opacity(0.3);
}

input[type="text"] {
  height: 38px;
  width: 158px;
  padding-left: 9px;
  -webkit-box-shadow: inset 1px 1px 0px;
          box-shadow: inset 1px 1px 0px;
  border: 1px solid #EAEAEA;
  float: left;
  font-size: 15px;
  color: #173211;
}

@media (max-width: 767px) {
  input[type="text"] {
    width: 250px;
  }
}

#set_filter {
  clear: both;
  -webkit-box-shadow: inset 0px 1px 0px , inset 0px -2px 0px;
          box-shadow: inset 0px 1px 0px , inset 0px -2px 0px;
  height: 40px;
  width: 200px;
  background-color: #367528;
  border: none;
  color: #fff;
  font-size: 15px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Museo Sans 500 Medium';
  font-weight: 500;
  margin-top: 10px;
  cursor: pointer;
}

@media (max-width: 767px) {
  #set_filter {
    width: 250px;
    float: left;
    clear: none;
  }
}

.price-filter {
  color: #227970;
  font-size: 12px;
  line-height: 40px;
  width: 30px;
  padding-bottom: 10px;
  display: block;
  float: left;
  clear: left;
}

.title {
  font-size: 15px;
  color: #173211;
  font-family: 'Museo Sans 500 Medium';
  font-weight: 500;
  text-transform: uppercase;
  margin: 15px 0px;
}

.col-inner-left .left-comp-check:hover img, .col-inner-left .left-comp-check:focus img, .col-inner-left .left-comp-check:active img {
  -webkit-filter: none;
          filter: none;
}

.col-inner-left .left-comp-check label {
  color: #227970;
  font-size: 11px;
  line-height: 16px;
  padding-bottom: 8px;
  display: block;
  float: left;
}

.col-inner-left .left-comp-check label img {
  height: 14px;
  margin-left: 5px;
}

.col-inner-left .left-comp-check .jq-checkbox {
  width: 15px;
  height: 15px;
  border: 1px solid #DDDDDD;
  background: #fff;
  cursor: pointer;
  float: left;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 3px 10px 11px 0px;
  clear: left;
}

.col-inner-left .left-comp-check .jq-checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 0px;
  padding: 0px;
}

.col-inner-left .checked .jq-checkbox__div {
  width: 13px;
  height: 13px;
  background: url(../img/icons.png) no-repeat -1px -501px;
}

.show-catalog {
  display: none;
}

@media (max-width: 767px) {
  .show-catalog {
    display: block;
    width: 280px;
    text-align: center;
    margin: 15px auto;
    background-color: #173211;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Museo Sans 500 Medium";
    font-weight: 500;
    padding: 15px 25px 15px 0;
    cursor: pointer;
    position: relative;
  }
  .show-catalog:after {
    content: '';
    display: block;
    position: absolute;
    right: 40px;
    top: 30%;
    border: 5px solid transparent;
    border-left: 5px solid #fff;
    border-bottom: 5px solid #fff;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

.col-inner-left {
  width: 200px;
  margin-right: 20px;
  float: left;
}

@media (max-width: 1200px) {
  .col-inner-left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}

@media (max-width: 767px) {
  .col-inner-left {
    display: none;
    padding-bottom: 20px;
    margin-right: 0;
    width: 100%;
  }
}

.col-inner-left .col-title {
  height: 40px;
  background-color: #a1cb0d;
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;
  font-family: 'Museo Sans 500 Medium';
  font-weight: 500;
  color: #fff;
  font-size: 15px;
  margin-bottom: 15px;
  display: block;
  text-decoration: none;
}

.col-inner-left .menu-left li {
  text-transform: uppercase;
  font-size: 12px;
  list-style: none;
  line-height: 15px;
  padding: 3px 0 8px 2px;
  text-transform: uppercase;
  font-family: 'Museo Sans 700 Bold';
  font-weight: 700;
  text-decoration: none;
}

.col-inner-left .menu-left li a {
  color: #207970;
  text-decoration: none;
  display: block;
}

.col-inner-left .search-form {
  margin: 30px 0 100px -2px;
}

.col-inner-left .search {
  height: 42px;
  width: 158px;
  padding: 0px 40px 0px 15px;
  float: left;
  border: 1px solid #EAEAEA;
  float: left;
  font-size: 15px;
  color: #173211;
  -webkit-box-shadow: inset 1px 1px 0px;
          box-shadow: inset 1px 1px 0px;
}

.col-inner-left .search-img {
  width: 42px;
  height: 40px;
  background-position: 9px -292px;
  background: #a1cb0d url(../img/icons.png) no-repeat 10px -290px;
  border: none;
  float: left;
  -webkit-box-shadow: inset -1px 0px 1px;
          box-shadow: inset -1px 0px 1px;
  cursor: pointer;
}

.close {
  display: none;
}

.strelka:after {
  -webkit-transform: rotate(135deg) !important;
          transform: rotate(135deg) !important;
  top: 45% !important;
}

.active {
  display: block !important;
}

.active:after {
  -webkit-transform: rotate(135deg) !important;
          transform: rotate(135deg) !important;
  top: 45% !important;
}

.col-inner-content {
  padding: 10px 20px 40px;
  width: 740px;
  min-height: 530px;
  margin-bottom: 40px;
  float: left;
  height: 100%;
  background-color: #fff;
  margin-bottom: 40px;
  padding-bottom: 0;
  -webkit-box-shadow: 0px 1px 2px;
          box-shadow: 0px 1px 2px;
}

@media (max-width: 1200px) {
  .col-inner-content {
    width: calc(100% - 220px);
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  .col-inner-content {
    width: 100%;
    padding: 10px;
  }
}

.col-inner-content .page-title {
  margin: 10px 20px 20px -20px;
  background-color: #367528;
  height: auto;
  line-height: 35px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 15px;
  font-family: 'Museo Sans 500 Medium';
  font-weight: 500;
  display: inline-block;
  padding: 0 20px;
}

@media (max-width: 767px) {
  .col-inner-content .page-title {
    margin: 10px 0;
    line-height: 1.2;
    padding: 15px 5px;
  }
}

@media (max-width: 576px) {
  .col-inner-content .page-title {
    font-size: 13px;
  }
}
